body {
	background-color: rgb(40, 94, 125);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	padding: 30px;
}

.r {
	text-align: right;
	width: 50%;
	margin: 10px;
}

header {
	background-image: linear-gradient(
		to bottom,
		rgb(0, 133, 177),
		rgb(40, 94, 125)
	);
	padding: 20px;
	padding-bottom: 40px;
	margin: -40px;
}
footer {
	border-top: 2px solid rgb(0, 133, 177);
}

img {
	max-width: 100%;
	vertical-align: middle;
	margin-top: -50px;
	margin-bottom: -50px;
}
a {
	color: aqua;
}
.hdr {
	text-justify: kashida;
	color: rgb(126, 192, 222);
	text-decoration: none;
	margin-right: 10px;
}
.hdr:hover {
	color: rgb(105, 200, 255);
}
h1,
h2 {
	text-align: center;
	margin: 40px;
	background: radial-gradient(at top left, rgb(0, 153, 255), white);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
h1 {
	font-size: 48px;
}
.h2r {
	text-align: right;
}

.h2l {
	text-align: left;
}
.c {
	text-align: left;
	margin: 14px;
	margin-left: 60px;
}

#dwnld {
	background-color: rgb(0, 153, 255);
	width: 25vh;
	font-size: 22px;
	font-family: "Segoe Print", Times, serif;
	align-items: center;
	border: 0px solid transparent;
	border-radius: 100px;
	transition: 0.2s;
}
#dwnld:hover {
	background-color: rgb(105, 200, 255);
}
.img {
	width: 29%;
	margin-top: -15%;
}
.img.lspin {
	transform: rotate(9deg) translate(10vh, 15vh);
}
.img.rspin {
	transform: rotate(-9deg) translate(-10vh, 15vh);
	float: right;
}
